@font-face {
	font-family: 'ChessCases';
	src: url('/assets/fonts/CASEFONT.TTF');
}

:root {
	--color-square-border: #0a0a0a;
	--color-square-white: #fafafa;
	--color-square-black: #303030;

	--color-piece-white: #648fff;
	--color-piece-black: #dc267f;

	--color-black: #0a0a0a;
	--color-white: #fafafa;
	--color-primary: #785ef0;
}

.board {
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	gap: 0.1rem;
}

.rank {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 0.1rem;
}

.square {
	aspect-ratio: 1 / 1;
	padding: 0.1em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--color-square-border);
	position: relative;
}

.rank:nth-child(odd) .square:nth-child(odd),
.rank:nth-child(even) .square:nth-child(even) {
	color: var(--color-square-black);
	background-color: var(--color-square-white);
}

.rank:nth-child(odd) .square:nth-child(even),
.rank:nth-child(even) .square:nth-child(odd) {
	color: var(--color-square-white);
	background-color: var(--color-square-black);
}

.file-info {
	bottom: 0em;
	right: 0.2em;
}

.valid-move {
	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 0.2em,
		#ffb000 0.2rem,
		#ffb000 0.4rem
	);
}

.piece-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.piece {
	font-family: 'ChessCases';
	display: none;
}

.piece:last-child {
	display: block;
}

.piece[data-color='white'] {
	color: var(--color-piece-white);
}

.piece[data-color='black'] {
	color: var(--color-piece-black);
}

[draggable='true'] {
	cursor: grab;
}

.hidden {
	display: none !important;
}

.message .player,
.message .win,
.message .lose {
	margin-top: 1.5em;
	padding: 0 1em 0 1em;
	border-radius: 1em;
	font-weight: 600;
}

.message > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.message .player {
	background-color: #eee;
}

.message .player div {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 0.5em;
}

.message .player .pill {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	text-align: center;
}

.message .player .pill.white {
	background-color: var(--color-piece-white);
}

.message .player .pill.black {
	background-color: var(--color-piece-black);
}

.message .win {
	background-color: rgb(240 253 244);
	color: rgb(22 163 74);
}

.message .lose {
	background-color: rgb(254 242 242);
	color: rgb(220 38 38);
}

.button {
	background-color: rgb(10 10 10/1);
	border-radius: 100px;
	color: var(--color-white);
	font-weight: 600;
	line-height: 1.5rem;
	padding: 0.375rem 1rem;
	cursor: pointer;
}
